@media (width < 600px) {
  .header {
    flex-direction: column;
    gap: 1.6rem;
  }
  .username-online {
    flex-direction: column;
    justify-content: center;
    gap: 0 !important;
    padding: 2rem;
  }
  .account-created {
    text-align: center;
  }
  .owned-games-title {
    text-align: center;
  }
}
