@media (width < 600px) {
  .header {
    flex-direction: column;
    gap: 1.6rem;
    padding: 0;
  }
  .username-online {
    flex-direction: column;
    justify-content: center;
    gap: 0 !important;
    padding: 2rem;
  }
  .account-created {
    text-align: center;
  }
  .owned-games-title {
    text-align: center;
  }

  .section--games-list {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)) !important;
  }
}

@media (width < 300px) {
  html {
    font-size: 40% !important;
  }
  .section--games-list {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)) !important;
  }
}
